/* ===========================================================
   FONTS
=========================================================== */
$default-font-family: Arial, Helvetica, sans-serif;
$default-font-size: 14px;
$default-font-color: #000;
$default-link-color: #1322ec;

$heading-font-family: 'PT Sans', sans-serif;

/* ===========================================================
   BRANDING COLORS
=========================================================== */
$page-body-bg: #fff;

$background-color: #e0e0e0;
$highlight-color: #1322ec;
$highlight-color-alt: #eb9500;