/* =============================================================================
   ONE PAGE CHECKOUT
============================================================================= */
.checkout-onepage-index {
    .page-title {
        margin: 0;
        border: none;
        h1 {
            padding: 0 0 0 25px;
            background: url(../images/icons-security.png) no-repeat 0 -104px;
        }
    }
}

/* Indicators =============================================================== */
.opc {
    .step-title {
        h2 {
            display: inline;
            font: bold 1em $heading-font-family;
            text-transform: uppercase;
            color: #a7a7a7;
        }
        .number {
            display: inline;
            font: bold 1em $heading-font-family;
            text-transform: uppercase;
            color: #a7a7a7;
        }
        a {
            display: none;
        }
    }
    .allow .step-title {
        cursor: pointer;
        h2, .number {
            color: #5bc353;
        }
        h2 {
            padding-right: 16px;
            background: url(../images/icons-security.png) no-repeat 100% -52px;
        }
    }
    .active .step-title {
        h2, .number {
            color: $highlight-color;
        }
        h2 {
            background: none;
        }
    }
}

#opc-login .step-title {
    display: none;
}
#opc-address .step-title {
    position: absolute;
    left: 0px;
    top: 0;
}
#opc-shipping_method .step-title {
    position: absolute;
    left: 128px;
    top: 0;
}
#opc-payment .step-title {
    position: absolute;
    left: 257px;
    top: 0;
}
#opc-review .step-title {
    position: absolute;
    left: 387px;
    top: 0;
}

/* Breakpoint: 620 ================================================== */
@media (max-width: 600px) {
    #opc-address .step-title {
        position: absolute;
        left: 0;
        top: 0;
    }
    #opc-shipping_method .step-title {
        position: absolute;
        left: 0;
        top: 24px;
    }
    #opc-payment .step-title {
        position: absolute;
        left: 0;
        top: 48px;
    }
    #opc-review .step-title {
        position: absolute;
        left: 0;
        top: 72px;
    }
}


/* OPC Steps ================================================================ */
.opc {
    padding: 27px 0 0;
    margin: 15px 0 0;
    position: relative;
    list-style: none;
    .step {
        position: relative;
        padding: 30px 0 0;
        border-top: 1px $background-color solid;
        h3 {
            font: bold 1.33em $heading-font-family;
            color: $default-font-color;
        }
        .tool-tip { 
            right: 30px;
        }
    }
    .buttons-set { 
        margin: 0;
        padding: 2em 0 0;
        border: none;
        p.required { 
            margin: 0;
            padding: 0 0 10px;
        }
        .back-link small { 
            display: none;
        }
        .back-link a { 
            display: inline-block;
            padding: 4px 8px;
            font: bold $default-font-size $heading-font-family;
            color: #fff;
            @include linear-gradient(to bottom, #545454, 0%, #474747, 100%);
            border: 1px #777777 solid;
            border-radius: 5px;
        }
        .please-wait { 
            float: left;
            height: 21px;
            line-height: 21px;
        }
        button.button {
            font-size: 16px;
        }
        &.disabled {
            button.button { 
                display: none;
            }
        }
    }
    .ul { 
        list-style: disc outside; 
        padding-left: 18px;
    }

    /* Breakpoint: 600 ============================================== */
    @media (max-width: 600px) {
        padding: 100px 0 0;
    }

}


/* Login Step =============================================================== */
#checkout-step-login {
    p {
        margin: 0 0 10px;
        color: mix($default-font-color, $page-body-bg, 80%);
    }
    .col2-set {
        .col-1 {
            width: 46%;
        }
        .col-2 {
            width: 46%;
            padding-left: 4%;
            border-left: 1px $background-color solid;
        }
    }
    .forgot-password {
        font-size: .86em;
    }
}


/* Address Step ============================================================= */
#opc-address {
    .address-block {
        float: left;
        width: 48.5%;
    }
    .shipping-address-block {
        float: right;
    }
    .account-block {
        clear: both;
    }
    .form-list {
        .input-box {
            width: auto;
        }
        input.input-text {
            width: 95%;
            max-width: 252px;
        }
        select {
            width: 100%;
            max-width: 260px;
        }
        p label {
            float: none;
        }
        p.field-description {
            margin: 0 0 4px;
            font-size: .86em;
        }
    }

    /* Breakpoint: 620 ============================================== */
    @media screen and (max-width: 620px) {
        .address-block {
            float: none;
            width: auto;
        }
        .shipping-address-block {
            margin: 20px 0 0;
        }
    }

}


/* Shipping Step ============================================================ */
#opc-shipping_method {
    .ship-to-summary {
        float: left;
        margin: 15px 0 30px;
        h4 {
            padding: 0 0 5px;
            font: bold 1em $heading-font-family;
            color: $default-font-color;
            border-bottom: 1px $background-color solid;
            a {
                float: right;
                font-weight: normal;
            }
        }
        address {
            display: block;
            font-style: normal;
            padding: 0 20px 0 0;
        }
    }
    .select-method {
        clear: left;
        float: left;
        border: 10px $background-color solid;
        h3 {
            padding: 0 0 10px;
            font-size: 1.14em;
            background: $background-color;
        }
    }
    .shipping-method-wrapper {
        padding: 5px 20px 10px;
    }

    /* Breakpoint: 600 ============================================== */
    @media screen and (max-width: 600px) {
        .ship-to-summary {
            float: none;
            address {
                padding: 0;
            }
        }
        .select-method {
            float: none;
        }
    }

}


/* Payment Step ============================================================= */
#opc-payment {
    .sp-methods {
        dt {
            width: 300px;
            padding: 0 0 0 10px;
            font: bold 1.14em $heading-font-family;
            @include linear-gradient(to bottom, lighten($background-color, 8), 0%, lighten($background-color, 2), 100%);
            border: 1px $background-color solid;
            border-radius: 6px;
            cursor: pointer;
            label {
                display: block;
                padding: 5px 15px 5px 0;
                color: $default-font-color;
                cursor: pointer;
            }
            input {
                float: left;
                margin: 10px 7px 0 0;
            }
        }
        dt.selected {
            @include linear-gradient(to bottom, lighten($highlight-color, 12), 0%, lighten($highlight-color, 4), 100%);
            border-color: $highlight-color;
            label {
                color: #fff;
            }
        }
        li {
            position: relative;
        }
        .security-note {
            position: absolute;
            top: 20px;
            left: 300px;
            width: 180px;
            padding: 0 0 0 28px;
            background: url(../images/icons-security.png) no-repeat 0 -169px;
        }
    }
    #payment_form_ccsave {
        padding: 20px;
        background: #f2f2f2;
    }
    .form-list {
        padding: 0;
        input.input-text {
            max-width: 96%;
        }
    }
    .buttons-set {
        button.button {
            float: left;
        }
        p.note {
            margin: 4px 10px 0 10px;
            float: left;
            font-style: italic;
        }
        .please-wait {
            margin: 4px 0 0;
        }
    }

    /* Breakpoint: 620 ============================================== */
    @media screen and (max-width: 620px) {
        .sp-methods {
            .security-note {
                position: static;
                width: auto;
                margin: 5px 0 0;
                min-height: 26px;
            }
        }
    }

    /* Breakpoint: 475 ============================================== */
    @media screen and (max-width: 475px) {
        .sp-methods {
            dt {
                width: auto;
            }
        }
        .buttons-set {
            p.note {
                float: none;
                clear: left;
                margin: 0;
                padding: 4px 0 0;
            }
        }
    }

}


/* Review Step ============================================================== */
#opc-review {
    .shipping-summary,
    .billing-summary {
        float: left;
        width: 45%;
        margin: 20px 10% 0 0;
        h4 {
            padding: 0 0 5px;
            font: bold 1em $heading-font-family;
            color: $default-font-color;
            border-bottom: 1px $background-color solid;
            a {
                float: right;
                font-weight: normal;
            }
        }
        address {
            display: block;
            font-style: normal;
        }
    }
    .billing-summary {
        margin-right: 0;
    }
    .shipping-method-summary,
    .payment-method-summary {
        margin: 15px 0 0;
    }
    .payment-method-details {
        dd {
            display: inline;
        }
        dt.credit-card-type,
        dt.credit-card-number,
        .name-on-the-card {
            display: none;
        }
    }
    #checkout-review-table-wrapper {
        clear: both;
        padding: 40px 0 0;
    }
    #checkout-review-table {
        border: none;
        thead {
            th {
                border: none;
            }
        }
        .odd, .even {
            background: none;
        }
        tbody {
            td {
                padding: 6px 8px;
                border: none;
                border-bottom: 1px $background-color solid;
            }
            tr.last td {
                border-bottom: 1px $background-color solid !important;
            }
        }
        tfoot {
            td {
                background: none;
                border: none;
            }
            tr.discount {
                color: #bf0000;
            }
            tr.grand-total {
                font-size: 18px;
            }
        }
    }
    .product-name {
        color: $default-font-color;
        font: bold 1em $default-font-family;
    }
    .item-options {
        dt {
            float: left;
            clear: left;
            margin: 0 6px 0 0;
            font-size: .86em;
            font-style: normal;
            &:after {
                content: ":";
            }
        }
        dd {
            float: left;
            padding: 0;
            margin: 0;
            font-size: .86em;
        }
    }
    .buttons-set {
        padding: 10px;
        background: #f4f4f4;
        button.button {
            float: right;
        }
        .note {
            float: left;
            margin: 10px 0 0;
        }
        .please-wait {
            float: right;
            margin-top: 10px;
        }
    }
    .authentication { 
        margin: 0 auto;
        width: 570px;
    }
    .warning-message { 
        padding: 10px 10px 0;
        color: #222; 
        font-weight: bold; 
        text-align: center; 
    }

    /* Breakpoint: 575 ============================================== */
    @media screen and (max-width: 575px) {
        .shipping-summary,
        .billing-summary {
            float: none;
            margin: 20px 0 0;
            width: auto;
        }
        #checkout-review-table {
            font-size: .86em;
        }
        .buttons-set {
            text-align: center;
            .note {
                float: none;
                margin: 0 0 10px;
            }
            button.button {
                float: none;
            }
        }
    }

}


/* =============================================================================
   SIDEBAR ORDER SUMMARY
============================================================================= */
.block-checkout-summary {
    table.subtotal {
        width: 100%;
        td.label {
            width: 60%;
            text-align: right;
            font-weight: bold;
        }
        td.price {
            width: 40%;
            text-align: right;
        }
    }
    .block-progress {
        margin: 10px -10px 0;
        padding: 5px 10px 0;
        border-top: 1px $background-color solid;
        background: none;
        .block-content {
            padding: 0;
        }
    }
    #shopping-cart-totals-table {
        width: 100%;
        td.label {
            padding: 3px 8px 0 0;
        }
        td.price {
            padding: 3px 0 0;
        }
        tr.discount {
            color: #bf0000;
            .subtitle {
                display: none;
            }
        }
        tr.shipping {
            .shipping-method {
                display: none;
            }
        }
    }
    .mini-products-list {
        font-size: .86em;
        .product-image {
            width: 30px;
            height: 30px;
            img {
                width: 30px;
                height: 30px;
            }
        }
        .product-details {
            margin-left: 40px;
        }
    }
}


/* =============================================================================
   CHECKOUT MISC
============================================================================= */

/* Shipping and Payment methods ============================================= */
.sp-methods { 
    margin: 0 0 8px;
    dt {
        margin: 13px 0 5px;
        font-weight: bold;
    }
    dd {
        li {
            margin: 5px 0;
        }
    }
    label {
        font-weight: bold;
        color: #666666;
    }
    .price { 
        font-weight: bold;
    }
    .form-list {
        padding-left: 20px;
        li { 
            margin: 0 0 8px;
        }
    }
    select.month { 
        margin-right: 10px;
        width: 154px; 
    }
    select.year { 
        width: 96px;
    }
    input.cvv { 
        width: 3em !important;
    }
    .checkmo-list {
        li { 
            margin: 0 0 5px;
        }
        label { 
            width: 135px;
            padding-right: 10px;
            text-align: right;
        }
        address { 
            float: left;
        }
    }
    .centinel-logos {
        a { 
            margin-right: 3px;
        }
        img { 
            vertical-align: middle;
        }
    }
    .release-amounts {
        margin: 0.5em 0;
        button { 
            float: left; 
            margin: 5px 10px 0 0;
        }
    }
}

.please-wait {
    float: right;
    img { 
        vertical-align: middle;
    }
}

.cvv-what-is-this { 
    margin-left: 10px;
    font-size: 11px; 
    cursor: help; 
}

/* Tooltip ================================================================== */
.tool-tip { 
    position: absolute;
    z-index: 9999;
    padding: 15px 20px;
    background: #EAF6FF;
    border: 1px solid #7BA7C9;
    .btn-close { 
        margin: -9px -14px 0;
        text-align: right;
        a { 
            display: block; 
            margin: 0 0 0 auto; 
            width: 15px; 
            height: 15px; 
            text-align: left; 
            text-indent: -999em; 
            background: url(../images/btn_window_close.gif) 100% 0 no-repeat; 
            overflow: hidden;
        }
    }
    .tool-tip-content { 
        padding: 5px;
    }
}


/* Gift Messages ============================================================ */
.gift-messages {
    h3 {
        font-size: 12px;
        font-weight: bold;
        color: #e87403;
    }
    p.control { 
        color: #8e8d8b;
    }
}

.gift-messages-form {
    position: relative;
    label {
        position: static !important;
        float: none !important;
    }
    h4 { 
        font-size: 12px; 
        font-weight: bold; 
        color: #e87403;
    }
    .whole-order { 
        margin: 0 0 25px;
    }
    .item { 
        margin: 0 0 10px;
        .product-img-box { 
            float: left;
            width: 75px;
        }
        .product-image { 
            margin: 0 0 7px;
        }
        .number { 
            margin: 0; 
            font-weight: bold; 
            text-align: center; 
            color: #8a8987;
        }
        .details {
            margin-left: 90px;
            .product-name { 
                margin: 0 0 10px;
                font-size: 13px; 
                font-weight: bold; 
            }
            .form-list {
                .field { 
                    width: 255px;
                }
                .input-box { 
                    width: 240px;
                }
                li.wide {
                    .input-box { 
                        width: 500px;
                    }
                    textarea { 
                        width: 494px;
                    }
                }
            }
        }
    }
}
.opc .gift-messages-form { 
    margin: 0 -30px;
    padding: 22px 24px 22px 30px;
    background: #f6f1eb;
    border: 1px solid #e9e4de;
    border-width: 1px 0;
    .inner-box { 
        height: 260px; 
        padding: 5px; 
        overflow: auto;
    }
}

.gift-message-link {
    padding-right: 7px;
    font-size: 11px;
    background: url(../images/bkg_collapse-gm.gif) 100% 6px no-repeat;
    &.expanded { 
        background-position: 100% -40px;
    }
}
.gift-message-row {
    background: #f2efe9;
    .btn-close {
        float: right;
        width: 16px;
        height: 16px;
        font-size: 0;
        line-height: 0;
        text-indent: -999em;
        background: url(../images/btn_gm-close.gif) 0 0 no-repeat;
        overflow: hidden;
    }
}


/* Checkout Agreements ====================================================== */
.checkout-agreements {
    li {
        margin: 30px 0;
    }
    .agreement-content { 
        height: 12em; 
        padding: 10px; 
        background-color: #fbfaf6; 
        border: 1px solid #bbb6a5;
        overflow: auto; 
    }
    .agree { 
        margin: 0;
        padding: 10px 0 10px 11px;
        input.checkbox { 
            margin-right: 6px;
        }
        label {
            font-weight: bold; 
            color: #666666; 
        }
    }
}
.opc .checkout-agreements {
    padding: 5px 30px;
    border: 1px solid #d9dde3; 
    border-width: 0 1px; 
    li { 
        margin: 20px 0 0;
    }
    .agreement-content { 
        padding: 5px;
        background-color: #ffffff; 
        border-color: #e4e4e4;
    }
    .agree { 
        padding-left: 6px;
    }
}


/* Centinel ================================================================= */
.centinel {
    .authentication { 
        background: #fff;
        border: 1px solid #ddd;
        iframe { 
            margin: 0 !important; 
            width: 99%; 
            height: 400px; 
            padding: 0 !important; 
            background: transparent !important; 
            border: 0 !important;
        }
    }
}
.opc .centinel { 
    padding: 10px 30px;
    border: 1px solid #bbb6a5; 
    border-width: 0 1px 1px; 
}


/* Generic Info Set ========================================================= */
.info-set {
    margin: 0 0 25px;
    padding: 20px;
    background: #fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x;
    border: 1px solid #bbb6a5;
    h2 { 
        margin: 0 0 10px;
        font-size: 13px; 
        font-weight: bold; 
        &.legend {
            position: relative;
            margin: -20px -20px 15px;
            padding: 5px 10px;
            background: #f9f3e3;
            border-bottom: 1px solid #bbafa0;
        }
    }
    h3 {
        &.legend {
            margin: 0 0 10px;
            color: #0a263c;
        }
    }
    h3, h4 {
        font-size: 13px;
        font-weight: bold;
        color: #e26703;
    }
    h2, h3, h4 {
        a {
            font-weight: normal;
        }
    }
    .divider { 
        position: relative;
        margin: 0 -20px; 
        padding: 25px 0;  
    }
    .box { 
        margin: 0 0 15px;
        h2 { 
            color: #e26703;
        }
    }
    .data-table {
        .product-name { 
            font-size: 1em !important; 
            font-weight: bold !important; 
            color: #1e7ec8 !important;
            a { 
                font-weight: bold !important;
            }
        }
        .item-options { 
            margin: 5px 0 0;
        }
    }
}


/* =============================================================================
   MULTIPLE ADDRESSES CHECKOUT
============================================================================= */

.checkout-progress { padding: 0 90px; margin: 0 0 20px; }
.checkout-progress li { float: left; width: 19%; margin: 0 3px 0 0; border-top: 10px solid #999; padding: 2px 0 0; font-weight: bold; text-align: center; color: #abb5ba; }
.checkout-progress li.active { border-top-color: #e96200; color: #e96200; }

.multiple-checkout h2 { font-size: 13px; font-weight: bold; margin: 0 0 10px; }
.multiple-checkout h3,
.multiple-checkout h4 { font-size: 13px; font-weight: bold; color: #e26703; }
.multiple-checkout h2 a,
.multiple-checkout h3 a,
.multiple-checkout h4 a { font-weight: normal; }
.multiple-checkout .data-table .product-name { font-size: 1em !important; font-weight: bold !important; color: #1e7ec8 !important; }
.multiple-checkout .data-table .product-name a { font-weight: bold !important; }
.multiple-checkout .data-table .item-options { margin: 5px 0 0; }

.multiple-checkout .gift-messages { margin: 15px 0 0; }

.multiple-checkout .tool-tip { top: 50%; margin-top: -120px; right: 20px; }

.multiple-checkout .col2-set,
.multiple-checkout .col3-set { background: #fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; border: 1px solid #bbb6a5; margin: 0 0 25px; padding: 20px; }
.multiple-checkout .col2-set h2.legend { margin: -20px -20px 15px; padding: 5px 10px; background: #f9f3e3; border-bottom: 1px solid #bbafa0; position: relative; }
.multiple-checkout .col2-set h3.legend { margin: 0 0 10px; color: #0a263c; }
.multiple-checkout .col2-set .divider { margin: 0 -20px; padding: 25px 0; position: relative; }
.multiple-checkout .box { margin: 0 0 15px; }
.multiple-checkout .box h2 { color: #e26703; }

.multiple-checkout .place-order .please-wait { float: right; padding: 27px 7px 0 0; }
.multiple-checkout .place-order .grand-total { float: right; height: 71px; font-size: 1.5em; padding :0 0 0 21px; background: url(../images/bkg_grand-total.gif) 0 0 no-repeat; overflow: hidden; }
.multiple-checkout .place-order .grand-total .inner { float: left; height: 57px; padding: 14px 21px 0 0; background :url(../images/bkg_grand-total.gif) 100% 0 no-repeat; }
.multiple-checkout .place-order .grand-total .inner div { display: inline; }
.multiple-checkout .place-order .grand-total big { display: inline; margin-right: 12px; }
.multiple-checkout .place-order .grand-total .price { color: #e26703; }
.multiple-checkout .place-order .grand-total button.button span { font-size: 16px; }
.multiple-checkout .place-order .grand-total button.button span span { padding: 0 45px 0 36px; }

/* Step 1 =================================================================== */
.multiple-checkout .title-buttons button.button span { border-color: #f18200; background: #f18200; }
#multiship-addresses-table td { padding: 10px; }
#multiship-addresses-table tfoot td { padding: 5px 10px; }
#multiship-addresses-table tfoot button.button span { border-color: #f18200; background: #f18200; }

/* Step 2 =================================================================== */
.multiple-checkout .gift-messages-form .item .details .form-list { width: 100%; overflow: hidden; }
.multiple-checkout .gift-messages-form .item .details .form-list li { margin-right: -15px; }
.multiple-checkout .gift-messages-form .item .details .form-list .field { width: 230px; }
.multiple-checkout .gift-messages-form .item .details .form-list .input-box { width: 215px; }
.multiple-checkout .gift-messages-form .item .details .form-list input.input-text { width: 209px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box { width: 445px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide textarea { width: 439px; }
.checkout-multishipping-shipping .box-sp-methods { border: 1px solid #d9d2be; background: #f9f3e3; padding: 13px; position: relative; }
.checkout-multishipping-shipping .box-sp-methods .pointer { position: absolute; top: -20px; right: -40px; width: 178px; height: 41px; background: url(../images/bkg_sp-methods.gif) 0 0 no-repeat; overflow: hidden; }

/* Step 3 =================================================================== */
.checkout-multishipping-billing .multiple-checkout { position: relative; }


/* =============================================================================
   SUCCESS
============================================================================= */
.checkout-onepage-success {
    .main {
        p {
            margin: 0 0 1em;
        }
    }
    .page-title.title-buttons {
        display: none;
    }
    .order-items {
        .buttons-set {
            display: none;
        }
    }
}